@font-face {
    font-family: 'CinzelRegular';
    src: url('../fonts/CinzelRegular.eot');
    src: url('../fonts/CinzelRegular.eot') format('embedded-opentype'),
         url('../fonts/CinzelRegular.woff2') format('woff2'),
         url('../fonts/CinzelRegular.woff') format('woff'),
         url('../fonts/CinzelRegular.ttf') format('truetype'),
         url('../fonts/CinzelRegular.svg#CinzelRegular') format('svg');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
 
    height: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    background-color: #000;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg");
}

.header-logo {
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    width: 357px;
    height: 58px;
    display: inline-block;
    margin-top: 43px;
}
.header-logo-block {
    margin-left: 40px;
}

.header-image-1 {
    background: url(../images/header_image1.png) no-repeat center;
    width: 120px;
    height: 77px;
    margin-right: 18px;
}

.header-image-2 {
    background: url(../images/header_image2.png) no-repeat center;
    width: 77px;
    height: 80px;
    margin-right: 18px;
}

.header-image-3 {
    background: url(../images/header_image3.png) no-repeat center;
    width: 95px;
    height: 84px;
}

.header-wrapper, .form-section {
    margin: 0 auto;
    width: 1000px;
}

.main-wrapper {
    margin: 0 auto;
    background-size: cover;
    background: url(../images/main_bg1.png) no-repeat center;
    width: 100%;
    height: 1019px;
}

.header-images {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: 30px;
    margin-right: 60px;
    position: relative;
}

.header-images:before {
    background: url(../images/header_image_up.png) no-repeat center;
    background-size: contain;
    height: 101px;
    content: "";
    position: absolute;
    width: 100%;
    right: 0px;
    top: -20px;
}

.header-images_item {
    display: inline-block;
    vertical-align: top;
}

.form-section_title {
    color: #a0ed45;
    font-size: 30px;
    font-family: Times New Roman;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; 
    width: 480px;
    margin: 0 auto; 
    margin-top: 60px; 
    letter-spacing: 1.5px;
}

.form{
    background: url(../images/form_border.png) no-repeat center;
    margin-right: 15px;
    width: 345px;
    height: 498px;
    float: right;
    position: relative;
}
 
.submit-button {
    background: url(../images/reg_button.png) no-repeat center;
    width: 289px;
    height: 66px;
    font-size: 21px;
    font-family: Times New Roman;
    font-weight: bold;
    display: block;
    line-height: 66px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    left: 50%;
    margin-left: -145px;
    border: 0px;
    outline: none;
    position: absolute;
    bottom:-70px;
}



.form-title {
    color: #fff;
    font-size: 26px;
    font-family: Times New Roman;
    font-weight: bold;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    margin-top: 87px;
    letter-spacing: 1.22px;
    margin-bottom: 30px;
}

.input-field {
    width: 282px;
    height: 50px;
    margin-bottom: 5px;
    border: 0px;
    margin: 0 auto;
    display: block;
    background: url(../images/form_bg.png) no-repeat center;
    outline:none;
    padding-left: 7px;
    padding-bottom: 5px;
    color: #000;
    font-family: OpenSansRegular;
    font-size: 24px;
    box-sizing:border-box;
    margin-bottom: 6px;
}

select.input-field{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    cursor: pointer;
    padding-left: 16px;
    padding-bottom: 8px;
}

select.input-field{
     background: url(../images/select_form.png) no-repeat center;
}

.input-field::-webkit-input-placeholder {
    color: #000;
    font-family: OpenSansRegular;
    font-size: 24px;
    padding-left: 10px;
}

.input-field::-moz-placeholder{    
    color: #000;
    font-family: OpenSansRegular;
    font-size: 24px;
    padding-left: 10px;
}

.input-field:-moz-placeholder{    
    color: #000;
    font-family: OpenSansRegular;
    font-size: 24px;
    padding-left: 10px;
}

.input-field:-ms-input-placeholder {    
    color: #000;
    font-family: OpenSansRegular;
    font-size: 24px;
    padding-left: 10px;
}

.sale{
    width: 100%;
    background: url(../images/sale_bg2.png) no-repeat center;
    min-height: 538px;
    background-size: cover;
    position: relative;
    margin-top: -170px;

}

.sale-item_text {
    color:#f0f0be;
    font-size: 30px;
    font-family: Times New Roman;
    text-align: center;
    letter-spacing: -0.3px;
}

.form-section:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sale-item1_image {
    background: url(../images/sale_image1.png) no-repeat center;
    width: 159px;
    height: 158px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.sale-item2_image {
    background: url(../images/sale_image2.png) no-repeat center;
    width: 158px;
    height: 156px;
    margin: 0 auto;
    padding-bottom: 35px;

}

.sale-item3_image {
    background: url(../images/sale_image3.png) no-repeat center;
    width: 159px;
    height: 160px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.sale-item4_image {
    background: url(../images/sale_image4.png) no-repeat center;
    width: 159px;
    height: 158px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.sale-item_text:before {
    background: url(../images/divider.png) no-repeat center;

    width: 203px;
    height: 26px;
    content: "";
    display: block;
    margin: -5px auto 3px auto;
}

.sale-item{
    display: inline-block;
    margin-left: -3px;
    width: 25%;
    vertical-align: top;

}

.sale-items {
    width: 1000px;
    margin: 0 auto;
}

.sale-title {
    color:#fff;
    font-size: 36px;
    font-family: Times New Roman;
    text-align: center;
    font-weight: bold;
    width: 425px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 30px;
}

.sale:before {
    background: url(../images/sale_main_divider.png) no-repeat center;
    background-size: contain;
    width: 857px;
    height: 58px;
    content: "";
    display: block;
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -427px;
}

.steps-item_top-text {
    color:#000;
    font-size: 26px;
    font-family: Times New Roman;
    text-align: center;
    font-weight: bold;
    width: 230px;
    margin: 0 auto;
}

.steps-item_top-text:after {
    background: url(../images/steps_divider.png) no-repeat center;
    width: 188px;
    height: 8px;
    content: "";
    display: block;
    margin: 10px auto;
}

.steps-item_bottom-text {
    color:#000;
    font-size: 21px;
    font-family: Times New Roman;
    text-align: center;
    width: 175px;
    margin: 0 auto;
}

.steps {
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #877a61 0%, #cec5a9 25%, #fefee1 51%, #c9c3a8 100%);
    background: -webkit-linear-gradient(top, #877a61 0%, #cec5a9 25%, #fefee1 51%, #c9c3a8 100%);
    background: -o-linear-gradient(top, #877a61 0%, #cec5a9 25%, #fefee1 51%, #c9c3a8 100%);
    background: linear-gradient(top, #877a61 0%, #cec5a9 25%, #fefee1 51%, #c9c3a8 100%);
    padding: 10px;
   }

.steps-title {
    font-size: 36px;
    color: #000;
    text-align: center;
    font-family: Times New Roman;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 20px;
}
.steps-item{
    width: calc(100% / 3);
    display: inline-block;
    box-sizing: border-box;
    margin-left: -3px;
    padding-bottom: 15px;
}

.steps-item1_image {
    background: url(../images/steps_image1.png) no-repeat center;
    width: 161px;
    height: 161px;
    vertical-align: top;
    margin: 0 auto;
    box-shadow: 0px 8px 10px 0px rgba(69, 69, 61, 0.75);
    -webkit-box-shadow: 0px 9px 18px -12px #000;
    -moz-box-shadow: 0px 8px 10px 0px rgba(69, 69, 61, 0.75);
    margin-bottom: 17px;
    padding-top: 57px;
}

.steps-item2_image {
    background: url(../images/steps_image2.png) no-repeat center;
    width: 161px;
    height: 161px;
    vertical-align: top;
    margin: 0 auto;
    box-shadow: 0px 8px 10px 0px rgba(69, 69, 61, 0.75);
    -webkit-box-shadow: 0px 9px 18px -12px #000;
    -moz-box-shadow: 0px 8px 10px 0px rgba(69, 69, 61, 0.75);
     margin-bottom: 17px;
    padding-top: 57px;
}

.steps-item3_image {
    background: url(../images/steps_image3.png) no-repeat center;
    width: 161px;
    height: 161px;
    vertical-align: top;
    margin: 0 auto;
    box-shadow: 0px 8px 10px 0px rgba(69, 69, 61, 0.75);
    -webkit-box-shadow: 0px 9px 18px -12px #000;
    -moz-box-shadow: 0px 8px 10px 0px rgba(69, 69, 61, 0.75);
     margin-bottom: 17px;
    padding-top: 57px;
}

.footer-wrapper {
    height: 255px;
    width: 100%;
    background: #000;
    padding-top: 25px;
    box-sizing:border-box;

}

.brands-image1 {
    background: url(../images/footer-logo1.png) no-repeat center;
    width: 101px;
    height: 31px;
}

.brands-image2 {
    background: url(../images/footer-logo2.png) no-repeat center;
    width: 149px;
    height: 27px;
}

.brands-image3 {
    background: url(../images/footer-logo3.png) no-repeat center;
    width: 133px;
    height: 24px;
}

.brands-image4 {
    background: url(../images/footer-logo4.png) no-repeat center;
    width: 142px;
    height: 50px;
}
.brands-image5 {
    background: url(../images/footer-logo5.png) no-repeat center;
    width: 83px;
    height: 29px;
}
.brands-image6 {
    background: url(../images/footer-logo6.png) no-repeat center;
    width: 64px;
    height: 40px;
}

.brands-image7 {
    background: url(../images/footer-logo7.png) no-repeat center;
    width: 98px;
    height: 26px;
}

.brands-image{
    display: inline-block;
    margin-right: 34px;
}

.brands-image:last-child {
    margin-right:0px;
}

.brands {
    height: 65px;
    box-sizing: border-box;
    width: 100%;
    background: #aaaaaa;

}

.brands-wrapper {
        width: 1000px;
        margin: 0 auto;
}

.footer-text {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    color:#fff;

}

.footer-text-wrapper {
    width: 1000px;
    padding: 0px 18px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.header-logo-block {
    margin-left: 40px;
}
@import '_media.scss';
